<h1>Hey there, <%= @restaurant.name %>!</h1>

<h3> Below is the information on record for you:</h3>
<ul>
    <li>Street Address: <%= @restaurant.street_address %></li>
    <li>City:<%= @restaurant.city %></li>
    <li>State:<%= @restaurant.state %></li>
    <li>Zip Code:<%= @restaurant.zip_code %></li>
    <li>Contact Email: <%= @restaurant.contact_email %></li>
    <li>Phone Number:<%= @restaurant.phone_number %></li>
</ul>
<%= button_to "Update Restaurant", edit_restaurant_path(@restaurant), method: :get %>

<h3> Our Food List </h3>

<ul>
    <% @current_restaurant.restaurant_foods.each do |food| %>
        <li> Type: <%= food.food_type %></li><br>
        <li> Quantity: <%= food.quantity %></li><br>
        <li> Use By: <%= food.use_by %></li><br>
        <li> Notes: <%= food.notes %></li><br>
        <%= button_to "Edit Food", edit_restaurant_food_path(food), method: :get %>
    <% end %>
</ul>

<%= button_to "Add Food To Your List", new_restaurant_food_path, method: :get %> <%= button_to "Create Exchange", new_exchange_path, method: :get %>
