<h1>Thanks for joining Sustainab.ly, <%= @restaurant.name %>!</h1>

<h3> Below is the information we have on record for you:</h3>
<ul>
    <li>Street Address: <%= @restaurant.street_address %></li>
    <li>City:<%= @restaurant.city %></li>
    <li>State:<%= @restaurant.state %></li>
    <li>Zip Code:<%= @restaurant.zip_code %></li>
    <li>Contact Email: <%= @restaurant.contact_email %></li>
    <li>Phone Number:<%= @restaurant.phone_number %></li>
</ul>