<h1>Welcome to Sustainab.ly, <%=@organization.name%>!</h1>

<h3> Below is the information we have on record for you:</h3>
<ul>
    <li>Street Address: <%= @organization.street_address %></li>
    <li>City:<%= @organization.city %></li>
    <li>State:<%= @organization.state %></li>
    <li>Zip Code:<%= @organization.zip_code %></li>
    <li>Contact Email: <%= @organization.contact_email %></li>
    <li>Phone Number:<%= @organization.phone_number %></li>
</ul>

